<li> {{thisComment.text}} --- {{thisComment.user}}
    <button *ngIf="isCreator() && !isDeleted" (click)="deleteComment(thisComment.id)">Delete</button>
    <br>
    <p  *ngIf="commVote"> <!-- test if this if should be here-->
    <button *ngIf="commVote.upvote" (click)="upvoteComm(commVote)" class="btn btn-primary">yay</button>
    <button *ngIf="!commVote.upvote" (click)="upvoteComm(commVote)" class="btn btn-default">yay</button>
    {{ thisComment.score }}
    <button *ngIf="commVote.downvote" (click)="downvoteComm(commVote)" class="btn btn-primary">nay</button>
    <button *ngIf="!commVote.downvote" (click)="downvoteComm(commVote)" class="btn btn-default">nay</button>
    </p>
    <br>
    <app-add-comment [parentCommentId]="thisComment.id" (addCommentEmit)="addCommentToMain($event)"></app-add-comment>
</li>
      <ul *ngIf="thisComment.childComments">
        <li *ngFor="let childComment of thisComment.childComments">
          <app-comment [thisComment]="childComment" (addComment)="addCommentToMain($event)"
          (deleteCommentEmit)="deleteComment($event)" (emitVote)="emit()"></app-comment>

        </li>
      </ul>
