<form (ngSubmit)="searchByTitle()">
  <div class="form-group">
    <label for="title-search" id="title-search">Search messages </label>
    <input name="title-search" class="form-control" id="title-search" placeholder="search..."
      [(ngModel)]="searchTitle" />
    <input type="submit" value="Search" />
  </div>
</form>

<button (click)="newMessage()">Add post</button>

<div *ngIf="page">
  <button (click)="firstPage()" class="btn-default"> first page </button>
  <button (click)="lastPage()" class="btn-default"> last page </button>

  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <th>
        Category
      </th>
      <th>
        Message
      </th>
      <th>
        Creator
      </th>
      <th>
        Options
      </th>
      <th>
        <button [disabled]="!page.hasPrevious" (click)="previousPage()"> previous page</button>
        <button [disabled]="!page.hasNext" (click)="nextPage()"> next page </button>
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let message of messages">
        <td>
          {{message.category.name}}
        </td>
        <td>
          {{message.title}}
        </td>
        <td>
          <a [routerLink]="['/user', message.user]">
              {{message.user}}
          </a>
        </td>
        <td>
          <button class="btn-default" (click)="readMore(message.id)"> Read more </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
