<div *ngIf="forComponent">
  <form (ngSubmit)="editCreateCompA()">
    <label for="title" id="title"> Title: </label>
    <input type="text" name="input-title" [(ngModel)]="forComponent.title" />

    <label for="description" id="descript"> Description: </label>
    <input type="text" name="input-descript" [(ngModel)]="forComponent.description" />

    <label for="category" id="category"> Category: </label>
    <select name="choose-category" id="choose-category" [(ngModel)]="forComponent.category">
      <option *ngFor="let c of categories" [ngValue]="c">{{c.name}}</option>
    </select>

    <label for="text" id="text"> Text: </label>
    <input type="text" name="input-text" [(ngModel)]="forComponent.text" />

    <input type="submit" value="Save" />
    <button (click)=clear()>Clear</button>
  </form>
</div>

<div *ngIf="!forComponent">
  <form (ngSubmit)="editCreateComp()">
    <label for="title" id="title"> Title: </label>
    <input type="text" name="input-title" [(ngModel)]="edited.title" />

    <label for="description" id="descript"> Description: </label>
    <input type="text" name="input-descript" [(ngModel)]="edited.description" />

    <label for="category" id="category"> Category: </label>
    <select name="choose-category" id="choose-category" [(ngModel)]="edited.category">
      <option *ngFor="let c of categories" [ngValue]="c">{{c.name}}</option>
    </select>

    <label for="text" id="text"> Text: </label>
    <input type="text" name="input-text" [(ngModel)]="edited.text" />

    <input type="submit" value="Save" />
    <button (click)=clear()>Clear</button>
  </form>
</div>
